/* default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* center */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* container form  */
.create-container {
    background: #fff;
    padding: 40px;
    border-radius: 13px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 370px;
}

/* heading */
.create-container h2 {
    margin-bottom: 32px;
    font-size: 1.4rem;
}

/* input group */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    margin-top: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* button  */
button {
    margin-top: 31px;
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(42, 115, 115);
    color: rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(34, 69, 69);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* signin */
p {
    margin-top: 8px;
    font-size: 14px;
}

p a {
    text-decoration: none;
}

p a:hover {
    text-decoration: underline
}

.conditions {
    display: flex;
}

.conditions p{
    font-size: 9px; 
    margin-left: 4px;
    color: #5d5d5d;
}
.conditions input {
    transform: translateY(3px);
}

p input {
    margin-right: 10px;
}

#hero {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url('/public/images/subd.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* error message  */
.error-message {
    background-color: #ffdddd;
    color: #d8000c;
    border-left: 4px solid #d8000c;
    padding: 10px;
    margin-top: 28px;
    margin-bottom: -10px;
    border-radius: 8px;
    font-size: 12px;
}

